/* Imports */
@import url("./styles/reset.css");
@import url("./styles/global.css");
@import url("./styles/utilities.css");
@import url("./styles/header.css");
@import url("./styles/hero.css");
@import url("./styles/search-form.css");
@import url("./styles/filters.css");
@import url("./styles/results.css");
@import url("./styles/lodgings.css");
@import url("./styles/city.css");
@import url("./styles/city-card.css");
@import url("./styles/popular.css");
@import url("./styles/popular-card.css");
@import url("./styles/activities.css");
@import url("./styles/footer.css");

/* Variables */
:root {
  /* Colors */
  --color-white: #ffffff;
  --color-light-gray: #f2f2f2;
  --color-gray: #d9d9d9;
  --color-black: #000000;
  --color-light-blue: #deebff;
  --color-blue: #0065fc;
}
