.city {
  gap: 40px;
}

.city-grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .city-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 672px) {
  .city-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
