.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 60px;
  height: auto;
}

.header__nav {
  display: flex;
  font-size: 14px;
}

.header__nav-link {
  padding: 50px 25px;
  border-top: 2px solid transparent;
  transition: all 200ms ease-out;
}

.header__nav-link[data-active="true"],
.header__nav-link:hover {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

@media screen and (max-width: 512px) {
  .header__content {
    flex-direction: column;
    width: 100%;
  }

  .header__logo {
    margin: 32px 0;
  }

  .header__nav {
    width: 100%;
  }

  .header__nav-link {
    flex-basis: 50%;
    text-align: center;
    padding: 0 12px 16px;
    border: none;
    border-bottom: 3px solid transparent;
  }

  .header__nav-link[data-active="false"] {
    border-color: var(--color-light-gray);
  }
}
