.search {
  height: 50px;
  display: flex;
}

.search__label-input {
  display: flex;
  flex-direction: row-reverse;
}

.search__input {
  border: none;
  padding-inline: 18px;
  transition: all 200ms ease-out;
  font-weight: 700;
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
}

.search__input::-webkit-search-cancel-button {
  cursor: pointer;
}

.search__input:focus {
  outline: none;
  border-color: var(--color-blue);
}

.search__input::placeholder {
  color: var(--color-gray);
}

.search__input:focus::placeholder {
  color: var(--color-light-gray);
}

.search__input:focus + .search__label {
  color: var(--color-white);
  fill: var(--color-white);
  background-color: var(--color-blue);
}

.search__label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-gray);
  width: 50px;
  border-radius: 12px 0 0 12px;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.search__button {
  border: none;
  padding-inline: 18px;
  border-radius: 0 12px 12px 0;
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: all 200ms ease-out;
}

.search__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.search__button-text {
  font-size: 14px;
  font-weight: 700;
}

.search__button .icon {
  display: none;
}

@media screen and (max-width: 512px) {
  .search__input {
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
  }

  .search__label-input {
    width: 100%;
  }

  .search__button {
    border-radius: 12px;
    margin-left: -10px;
  }

  .search__button-text {
    display: none;
  }

  .search__button .icon {
    display: block;
  }
}
