.banner-top {
  background-color: var(--color-light-blue);
  color: var(--color-blue);
  font-size: 14px;
  padding: 24px 0;
}

.banner-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-top a {
  font-weight: 700;
}

@media screen and (max-width: 672px) {
  .banner-top {
    font-size: 12px;
  }
}

@media screen and (max-width: 448px) {
  .banner-top .container {
    justify-content: center;
    text-align: center;
  }

  .banner-top__source {
    display: none;
  }
}
