.lodgings {
  display: flex;
  gap: 40px;
  margin-bottom: 32px;
  width: calc(100% - 50px);
  max-width: 1440px;
  margin-inline: auto;
}

.lodgings__city,
.lodgings__popular {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-gray);
  padding: 40px;
  border-radius: 20px;
}

.lodgings__city {
  flex-basis: 70%;
}

.lodgings__popular {
  flex-basis: 30%;
}

@media screen and (max-width: 1280px) {
  .lodgings {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 672px) {
  .lodgings {
    width: 100%;
  }

  .lodgings__city,
  .lodgings__popular {
    border-radius: 0;
  }

  .lodgings__city {
    background-color: var(--color-white);
    padding-top: 0;
  }
}
