.activities-card {
  position: relative;
  transition: all 200ms ease-out;
}

.activities-card:hover {
  transform: rotate(2deg);
}

.activities-card figure {
  height: 100%;
}

.activities-card-img {
  height: calc(100% - 50px);
}

.activities-card-title {
  height: 50px;
  padding-inline: 24px;
  gap: 2px;
}

.activities-card-title .icon {
  opacity: 0;
  transition: all 200ms ease-out;
}

.activities-card:hover .activities-card-title {
  fill: var(--color-blue);
  color: var(--color-blue);
}

.activities-card:hover .icon {
  opacity: 1;
  margin-left: 10px;
}
