/* Raleway 400 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/woff2/raleway-400.woff2") format("woff2"),
    url("../../fonts/woff/raleway-400.woff") format("woff");
  font-display: swap;
}

/* Raleway 700 */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../fonts/woff2/raleway-700.woff2") format("woff2"),
    url("../../fonts/woff/raleway-700.woff") format("woff");
  font-display: swap;
}
