/*
====================
Container
====================
*/

.container {
  width: calc(100% - 50px);
  max-width: 1440px;
  margin-inline: auto;
}

/*
====================
Links
====================
*/

.link-underline {
  display: inline-block;
  width: max-content;
  position: relative;
  transition: all 200ms ease-out;
}

.link-underline:hover {
  color: var(--color-blue);
}

.link-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--color-blue);
  opacity: 0.5;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*
====================
Card
====================
*/

.card-basic {
  overflow: hidden;
  border-radius: 16px;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.card-basic img {
  width: 100%;
  object-fit: cover;
  filter: saturate(1.5);
}
