/*
====================
Card main
====================
*/

.lodging__card {
  background-color: var(--color-white);
  outline: 5px solid var(--color-white);
}

.lodging__card-content {
  display: flex;
}

.lodging__card-info {
  display: flex;
  flex-direction: column;
}

.lodging__card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lodging__card-text-title {
  font-weight: 700;
}

.lodging__card-text-price {
  font-size: 14px;
}

.lodging__card-text-price span {
  font-weight: 700;
}

.lodging__card-note {
  display: flex;
  gap: 2px;
}

.lodging__card-note .icon[data-active="true"] {
  fill: var(--color-blue);
}

.lodging__card-note .icon[data-active="false"] {
  fill: var(--color-gray);
}

.lodging__card-corner {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 100%;
  background-color: var(--color-blue);
  opacity: 0.9;
  transition: all 200ms ease-out;
}

.lodging__card-corner .icon {
  position: absolute;
  transform: skewX(-10deg);
  top: 10px;
}

.lodging__card:hover .lodging__card-corner {
  right: -20px;
  transform: skewX(10deg);
}

/*
====================
Card city
====================
*/

.lodging__card-city .lodging__card-content {
  flex-direction: column;
}

.lodging__card-city .lodging__card-img {
  max-width: 100%;
  max-height: 100%;
  height: 125px;
}

.lodging__card-city .lodging__card-info {
  gap: 10px;
  padding: 10px 25px;
}

.lodging__card-city .lodging__card-corner .icon {
  left: 15px;
}

/*
====================
Card popular
====================
*/

.lodging__card-popular,
.lodging__card-popular .lodging__card-content,
.lodging__card-popular .lodging__card-img {
  height: 100%;
}

.lodging__card-popular .lodging__card-img-wrapper {
  position: relative;
  flex-basis: 35%;
}

.lodging__card-popular .lodging__card-img {
  position: absolute;
  height: 100%;
}

.lodging__card-popular .lodging__card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 65%;
  padding: 15px;
}

.lodging__card-popular .lodging__card-corner .icon {
  left: 10px;
}
