.city {
  gap: 40px;
}

.city-grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
}

.city-more {
  display: inline-block;
  width: max-content;
  position: relative;
  transition: all 200ms ease-out;
}
.city-more:hover {
  color: var(--color-blue);
}

.city-more:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--color-blue);
  opacity: 0.5;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.city-more:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 1024px) {
  .city-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 672px) {
  .city-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
