.color-white {
  color: #ffffff;
}

.color-light-gray {
  color: #f2f2f2;
}

.color-gray {
  color: #d9d9d9;
}

.color-black {
  color: #000000;
}

.color-light-blue {
  color: #deebff;
}

.color-blue {
  color: #0065fc;
}

.bg-white {
  background-color: #ffffff;
}

.bg-light-gray {
  background-color: #f2f2f2;
}

.bg-gray {
  background-color: #d9d9d9;
}

.bg-black {
  background-color: #000000;
}

.bg-light-blue {
  background-color: #deebff;
}

.bg-blue {
  background-color: #0065fc;
}

.bold {
  font-weight: 700;
}


.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
